/*combine selectors1: list selectors: same feature*/
h1, h2, h3, h4, li, p {
  font-family: "MesloLGS NF";
  color: #444;
}

/*combine selectors2: descendant selectors*/
/*footer p {*/
/*  font-size: 10px;*/
/*}*/

/*combine selectors2: descendant selectors*/
/*article header p {*/
/*  font-style: italic;*/
/*}*/

h1, h2, h3 {
  color: #5f3dc4;
}

h1 {
  /*In practice, we mostly use hexadecimal colors, and rgba when we need transparency*/
  color: rgba(28, 120, 120, 0.7);
  font-size: 26px;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
}

p {
  font-size: 15px;
  line-height: 1.5;
}

/*id selector: use id name only once*/
#author {
  font-style: italic;
  font-size: 10px;
}

#copyright {
  font-size: 10px;
}
/*In the real world, we never use id, because it's preparing for the future, so use class!*/

/*class: selector use id multiple times*/
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background: #f7f7f7;
  border-bottom: 5px solid #087f5b;
  border-top: 5px solid #087f5b;
}

/*.first-li {*/
/*  font-weight: bold;*/
/*}*/

/*pseudo class*/
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li:nth-child(odd) {*/
/*  color: red;*/
/*}*/

/*first p of the article, misconception: this won't work*/
article p:first-child {
  color: red;
}

/*styling links: only for those which have href property*/
a:link {
  color: #94d82d;
  text-decoration: none;
}

a:visited {
  color: #5f3dc4;
}

a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:active {
  color: #45260a;
  font-style: italic;
}

/*LVHA*/